.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0f3460;
    color: #dfd8d8;
}

.heroName {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    height: 3rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

img {
    width: 15%;
    margin-bottom: 3rem;
}

.heroTxt {
    margin-bottom: 1rem;
    width: 75%;
    font-size: 1.2rem;
}

.backHero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 3rem;
    width: 8rem;
    background-color: #0a223f;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}