.listHeroes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0f3460;
    color: #dfd8d8;
}

.List { /* button + title */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    height: 14rem;
}

.buttonHeroes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 3rem;
    width: 8rem;
    background-color: #0a223f;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.buttonHeroes:hover {
    background-color: #16213e;
    transform: translateY(-2px);
}

.List h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 700;
}

.heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2rem;
}

.buttonHero {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 10px;
    background-color: #0f3460;
    border: #0a223f 2px solid;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    overflow: hidden;

}

.heroesName {
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
    height: 3rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.heroName:hover {
    color: #e94560;
}

div > a:hover {
    transform: translateY(-5px);
    background-color: #10478b;
}

img {
    margin-top: 3rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    bottom: 0; /* Aligne en bas */
    left: 50%; /* Centre horizontalement */
}